name: PR

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: cypress-io/github-action@v7.1.0
        with:
          build: npm run build
          start: npm start
